<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Rechercher votre future maison</p>
    <form action="/offer/search" method="POST">
        <div class="row">
            <div class="col">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="categorie">Categorie</label>
                    <select name="categorie" id="categorie" class="form-control dropdown_item_select">
                        <option>Vente</option>
                        <option>Location</option>
                        <option>TANT</option>
                        <option>BE</option> 
                    </select>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="categorie">Type</label>
                    <select name="type" id="type" class="form-control dropdown_item_select">
                        <option>Immeuble</option>
                        <option>Villa</option>
                        <option>Duplex</option>
                        <option>Terrain</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="ville">Ville</label>
                    <select name="ville" id="ville" class="form-control dropdown_item_select">
                        <option>Douala</option>
                        <option>Yaounde</option>
                        <option>Bamenda</option>
                    </select>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="quartier">Quartier</label>
                    <select name="quartier" id="quartier" class="form-control dropdown_item_select">
                        <option>Deido</option>
                        <option>Makepe</option>
                        <option>Bonamoussadi</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="salledb">Salle de bain</label>
                    <select name="salledb" id="salledb" class="form-control dropdown_item_select">
                        <option>Any</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="chambres">Nb Chambre</label>
                    <select name="chambres" id="chambres" class="form-control dropdown_item_select">
                        <option>Any</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-dark btn-lg" value="Rechercher">
            </div>
        </div>
    </form>
    
</div>